
.nav-link {
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    color: #1e293b;
    font-weight: 500;
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
}


    .nav-link:hover {
        background-color: #DCE6EF;
        color: #0f172a;
    }

    .nav-link.active {
        background-color: #5F7387;
        color: #ffffff;
    }

    .nav-link span {
        margin-right: 0.5rem;
        font-size: 1.2rem;
        color: #1e293b;
    }

.nav-item {
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
}

.navbar {
    background-color: #C9D8E6;
}

/* Logout */
form .nav-link {
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    color: #1e293b;
    font-weight: 500;
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
}

    form .nav-link:hover {
        background-color: #f1f5f9;
        color: #0f172a;
    }

.sidebar-title {
    background-color: #C9D8E6;
    color: #1e293b;
}

    .sidebar-title:hover {
        background-color: #C9D8E6;
        color: #495057;
    }

.navbar-brand {
    color: #4f5d6b !important;
}

    .navbar-brand:hover {
        color: #ffffff !important;
    }